{% for nodepool in cluster.nodePools %}
{% set validHostCounter = 1 %}
{% set gke_ips = node_ips_out.results[loop.index - 1].stdout_lines %}
{% for address in gke_ips %}
{% if cluster.providerConfig.keypair.privatekeyFile is defined %}
{% if cluster.providerConfig.keypair.providerConfig.username is defined %}
Host {{nodepool.name}}-{{validHostCounter}}
  HostName {{address}}
  Port 22
  User {{cluster.providerConfig.keypair.providerConfig.username}}
  IdentityFile {{cluster.providerConfig.keypair.privatekeyFile}}
{% set validHostCounter = validHostCounter + 1 %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}