{
  "CN": "{{ master_record | regex_replace(access_scheme + '://', '') | regex_replace(':' + access_port, '') }}",
  "hosts": [
    "{{ apiserver_ip_pool }}", "{{ master_public_ip }}", "{{ master_private_ip }}", "{{ kubernetes_service_ip }}"
  ],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "US",
      "L": "Seattle",
      "O": "Kubernetes",
      "OU": "CA",
      "ST": "Washington"
    }
  ]
}