{
  "apiVersion": "v1",
  "kind": "Pod",
  "metadata": {
    "name": "k8s-scheduler"
  },
  "spec": {
    "hostNetwork": true,
    "containers": [
      {
        "name": "k8s-scheduler",
        "image": "{{hyperkube_image}}",
        "command": [
          "/hyperkube",
          "scheduler",
          {% for k,v in scheduler_settings.iteritems() %}
            "--{{k}}={{v}}",
          {% endfor %}
          ""
        ]
      }
    ]
  }
}
