[Unit]
Description=Launch kubernetes hyperkube scheduler
Requires=network-online.target
After=network-online.target

[Service]
StandardOutput={{ kubernetes_systemd_stdout }}
StandardError={{ kubernetes_systemd_stderr }}
Restart=always
RestartSec=5
LimitNOFILE=infinity
ExecStartPre=-/usr/bin/mkdir -p {{scheduler_settings.log_dir}}
ExecStart=/opt/bin/hyperkube scheduler \
  {% for k,v in scheduler_settings.iteritems() %}
    --{{k}}={{v}} \
  {% endfor %}
