README.html
.vagrant*
README_local*
tls*
temp_*
.DS_Store
**/terraform.tfstate
**/terraform.tfstate.backup
**/.terraform
**/terraform.tfvars
**/kube-cert
gh-pages/
output/*
_site/*
*.gz
*.logs
*.log
*.tfvars
density/*
density_out/*
.idea

