Aaron Crickenberger <spiffxp@gmail.com>
Alejandro Escobar <jaescobar.cell@gmail.com>      Alejandro
Alika Larsen <alika.larsen@gmail.com>
Bob Wise <bob@bobsplanet.com>
Cindy O'Neill <cubiedoo2@gmail.com>               <oneilcin@users.noreply.github.com>
Jason Du <cwazy1@gmail.com>                       cwazy1
David E Watson <davidewatson@gmail.com>           David Watson <dwat@rodin.local>
David E Watson <davidewatson@gmail.com>           davidewatson
Deirdre Storck deirdre.<storck@gmail.com>
Eric Gustafson <gustafson@hpe.com>
Geoffrey Bergeret <geoffrey.bergeret@onfido.com>  Geoffrey BERGERET
Guinevere Saenger <guineveresaenger@gmail.com>    guineveresaenger <guineveresaenger@users.noreply.github.com>
Jim Conner notjames@users.noreply.github.com
Joe Julian <me@joejulian.name>
June Yi <june.yi@samsung.com>
Kevin Mansel <kmansel@spu.edu>
Chanhun Jeong <keyolk@gmail.com>                  keyolk
Kwangyoung Allen Kim <blackdog0403@gmail.com>
Leah Peterson <leahnpetersen@gmail.com>           leahnp
Lee Chang <lee@l337ch.com>                        <leechang@Lees-MacBook-Pro.local> <leechang@Lees-MBP.bad> <leechang@Lees-MBP.lan> <leechang@Lees-MBP.local.tld> <leetchang@gmail.com>
Manoj Kumar Nagarajappa <manojlds@gmail.com>      Manoj
Marat Garafutdinov <maratoid@gmail.com>           Marat G
Mark Ayers <mark@philoserf.com>
Michael Bachtel <michaelbachtel@Michaels-MacBook-Pro.local>
Michael Venezia <mvenezia@gmail.com>              <michael.venezia@viacom.com>
Mikel Nelson <github@mikelnelson.net>
MrBouncy <lastxit@technogeeks.org>
Nancy Harvey <nancyh@roosterpark.com>
Nathan Zook <nathanzsamsung@gmail.com>            <blogger@pierian-spring.net>
Patrick Christopher <coffeepac@gmail.com>         choused
Patrick M. Galbraith <patg@hp.com>                <patg@patg.net>
Richard Edwards <red@TreesAndClouds.net>          <red@treesandclouds.net>
Rick Sostheim <rick@sostheim.com>
Sam Briesemeister <sam.briesemeister@gmail.com>
Yeni Capote Diaz <yenicapote08@gmail.com>
