- path: /etc/kubernetes/manifests/controller-manager.yaml
  owner: root
  permissions: 0644
  content: |
    apiVersion: v1
    kind: Pod
    metadata:
      name: kube-controller-manager
      namespace: kube-system
    spec:
      hostNetwork: true
      containers:
      - name: kube-controller-manager
        image: {{ node.kubeConfig.hyperkubeLocation }}:{{ node.kubeConfig.version }}
        command:
        - /hyperkube
        - controller-manager
        - --master=http://127.0.0.1:8080
        - --leader-elect=true
        - --cloud-provider={{ cluster.providerConfig.provider }}
        - --service-account-private-key-file=/etc/kubernetes/ssl/service-account-key.pem
        - --root-ca-file=/etc/kubernetes/ssl/ca.pem
{% if fabricConfigVal.type == 'canal' %}
        - --allocate-node-cidrs=true
        - --cluster-cidr={{ fabricConfigVal.options.network.network }}
{% endif %}
        livenessProbe:
          httpGet:
            host: 127.0.0.1
            path: /healthz
            port: 10252
          initialDelaySeconds: 15
          timeoutSeconds: 1
        volumeMounts:
        - mountPath: /etc/kubernetes/ssl
          name: ssl-certs-kubernetes
          readOnly: true
        - mountPath: /etc/ssl
          name: ssl-certs-ssl
          readOnly: true
        - mountPath: /etc/ssl/certs
          name: ssl-certs-host
          readOnly: true
      volumes:
      - hostPath:
          path: /etc/kubernetes/ssl
        name: ssl-certs-kubernetes
      - hostPath:
          path: /etc/ssl
        name: ssl-certs-ssl
      - hostPath:
          path: /usr/share/ca-certificates
        name: ssl-certs-host
      tolerations:
      - key: node-role.kubernetes.io/master
        operator: Equal
        effect: NoSchedule
