- path: /etc/kubernetes/kubeconfig.yaml
  content: |
    apiVersion: v1
    kind: Config
    clusters:
    - name: {{ cluster.name }}
      cluster:
        certificate-authority: /etc/kubernetes/ssl/ca.pem
    users:
    - name: kubelet
      user:
        client-certificate: /etc/kubernetes/ssl/apiserver.pem
        client-key: /etc/kubernetes/ssl/apiserver-key.pem
    contexts:
      - context:
          cluster: {{ cluster.name }}
          user: kubelet
        name: {{ cluster.name }}-kubelet
    current-context: {{ cluster.name }}-kubelet
