- path: /etc/kubernetes/proxy-kubeconfig.yaml
  content: |
    apiVersion: v1
    kind: Config
    clusters:
    - name: {{ cluster.name }}
      cluster:
        certificate-authority: /etc/kubernetes/ssl/ca.pem
        server: https://apiserver.{{ cluster.name }}.internal
    users:
    - name: proxy
      user:
        client-certificate: /etc/kubernetes/ssl/proxy.pem
        client-key: /etc/kubernetes/ssl/proxy-key.pem
    contexts:
    - context:
        cluster: {{ cluster.name }}
        user: proxy
      name: proxy-context
    current-context: proxy-context