- path: /etc/kubernetes/manifests/kube-proxy.yaml
  owner: root
  permissions: 0644
  encoding: "gz+b64"
  content: |
    {{ lookup('file', '{{ config_base }}/{{ cluster.name }}/{{ node.name }}.kube-proxy.yaml.manifest' | expanduser) | gz | b64encode }}
