variable "keypairs_name" {}

{% set unique_keypairs = cluster.nodePools | map(attribute='keyPair') | list | unique %}

{% for keypair in unique_keypairs %}
resource "aws_key_pair" "{{keypair.name}}" {
  key_name = "${var.keypairs_name}_{{keypair.name}}"
{% if keypair.publickey is defined  %}
  public_key = "{{keypair.publickey}}"
{% elif keypair.publickeyFile is defined %}
  public_key = "${file("{{keypair.publickeyFile}}")}"
{% endif %}
}
{% endfor %}

{% for keypair in unique_keypairs %}
output "{{keypair.name}}_keyname" {
  value = "${aws_key_pair.{{keypair.name}}.key_name}"
}
{% endfor %}
