{% if item.containerConfig.runtime == 'docker' %}
- name: etcd3.service
  command: start
  content: |
    [Unit]
    Description=etcd3
    After=docker.service
{% if item.ssl == true %}
    After=ssl.service
{% endif %}
    After=networking.service
{% for mount in item.nodepool.mounts %}
    After={{mount.device | mapdevice}}.mount
{% endfor %}
    Requires=setup-network-environment.service
    After=setup-network-environment.service
    [Service]
    EnvironmentFile=/etc/network-environment
    TimeoutStartSec=0
    KillMode=none
    ExecStartPre=-/usr/bin/docker kill etcd_{{item.name}}
    ExecStartPre=-/usr/bin/docker rm etcd_{{item.name}}
    ExecStartPre=/usr/bin/mkdir -p /var/lib/etcd/ephemeral
{% if item.ssl == true %}
    ExecStartPre=/usr/bin/docker run --rm=true -v /opt/kraken/ssl:/output \
        -v /opt/kraken/ssl:/input -e HOST_IP:${DEFAULT_IPV4} quay.io/samsung_cnct/drunkensmee /assets/generate_etcd.sh
{% endif %}
    ExecStart=/usr/bin/docker run -v /var/lib/etcd/ephemeral:/ephemeral {% if item.ssl == true %}-v /opt/kraken/ssl:/etc/ssl{% endif %} \ 
        {% for port in item.clientPorts %}-p {{port}}:{{port}} {% endfor %}{% for port in item.peerPorts %}-p {{port}}:{{port}} {% endfor %} \
        --name etcd_{{item.name}} quay.io/coreos/etcd:etcd_{{item.version}} \
        --data-dir /ephemeral
        --name etcd3 \
{% if item.ssl == true %}
        --peer-client-cert-auth \
        --peer-trusted-ca-file=/etc/ssl/ca.pem \
        --peer-cert-file=/etc/ssl/etcd/ssl/server.pem \
        --peer-key-file=/etc/ssl/etcd/ssl/server-key.pem \
{% endif %}
        --discovery-srv {{kraken_config.cluster}}.internal \
        --initial-advertise-peer-urls {% if item.ssl == true %}https{% else %}http{% endif %}://${DEFAULT_IPV4}:2382 \
        --initial-cluster-token {{item.clusterToken}} \
        --initial-cluster-state new \
        --advertise-client-urls {% if item.ssl == true %}https{% else %}http{% endif %}://${DEFAULT_IPV4}:2381 \
        --listen-client-urls {% if item.ssl == true %}https{% else %}http{% endif %}://${DEFAULT_IPV4}:2381 \
        --listen-peer-urls {% if item.ssl == true %}https{% else %}http{% endif %}://${DEFAULT_IPV4}:2382
    ExecStartStop=/usr/bin/docker stop etcd_{{item.name}}
{% endif %}