{% for mount in item.nodepool.mounts %}
- name: format-storage-{{mount.device | mapdevice}}.service
  command: start
  content: |
    [Unit]
    Description=Formats {{mount.device  | mapdevice}} drive as ext4
    [Service]
    Type=oneshot
    RemainAfterExit=yes
    ExecStartPre=/usr/sbin/wipefs -f {{mount.device | mapdevice}}
    ExecStart=/usr/sbin/mkfs.ext4 -F {{mount.device | mapdevice}}
{% endfor %}