variable "vpc_name" {}
variable "vpc_id" {}

# A VPC-only route53 zone and record
resource "aws_route53_zone" "private_zone" {
  name          = "${var.vpc_name}.internal"
  comment       = "A VPC-only zone for ${var.vpc_name} kubernetes cluster"
  vpc_id        = "${var.vpc_id}"
  force_destroy = true
}

output "route53_zone_id" {
  value = "${aws_route53_zone.private_zone.zone_id}"
}