variable "keypairs_name" {}
variable "prefix" {}

{% for keypair in kraken_config.keypair %}
resource "aws_key_pair" "{{keypair.name}}" {
  key_name = "${var.keypairs_name}_${var.prefix}_{{keypair.name}}"
{% if keypair.publickey is defined  %}
  public_key = "{{keypair.publickey}}"
{% elif keypair.publickeyFile is defined %}
  public_key = "${file("{{keypair.publickeyFile}}")}"
{% endif %}
}
{% endfor %}

{% for keypair in kraken_config.keypair %}
output "{{keypair.name}}_keyname" {
  value = "${aws_key_pair.{{keypair.name}}.key_name}"
}
{% endfor %}