variable "access_key" {}
variable "secret_key" {}
variable "shared_credentials_file" {}
variable "profile" {}
variable "region" {}
variable "max_retries" {}

provider "aws" {
  access_key  = "${var.access_key}"
  secret_key  = "${var.secret_key}"
  shared_credentials_file = "${var.shared_credentials_file}"
  profile     = "${var.profile}"
  region      = "${var.region}"
  max_retries = "${var.max_retries}"
}