# all defined subnets
variable "vpc_id" {}
variable "subnets_name" {}
variable "route_table_id" {}


{% for subnet in cluster.providerConfig.subnet %}
resource "aws_subnet" "vpc_subnet_{{subnet.name}}" {
  vpc_id                  = "${var.vpc_id}"
  cidr_block              = "{{subnet.cidr}}"
  availability_zone       = "{{subnet.az}}"
  map_public_ip_on_launch = true

  tags {
    Name = "${var.subnets_name}_{{subnet.name}}_subnet",
    KubernetesCluster = "${var.subnets_name}"
  }
}

resource "aws_route_table_association" "vpc_subnet_asg_rt_association_{{subnet.name}}" {
  subnet_id      = "${aws_subnet.vpc_subnet_{{subnet.name}}.id}"
  route_table_id = "${var.route_table_id}"
}
{% endfor %}

{% for subnet in cluster.providerConfig.subnet %}
output "{{subnet.name}}_subnet_id" {
  value = "${aws_subnet.vpc_subnet_{{subnet.name}}.id}"
}
{% endfor %}
