- name: kraken-etcd-prediscovery.service
  command: start
  content: |
    [Unit]
    Description=Wait for and log etcd SRV records before starting kraken-etcd
    Requires=kraken-networking.service
    After=kraken-networking.service
    Before=kraken-etcd.service
    [Service]
    Type=simple
    Environment=ETCD_PREDISCOVERY_LOG=/tmp/kraken-{{cluster_node_tuple.1.name}}-prediscovery.log
    ExecStart=/bin/bash -xc 'while [[ $(/usr/bin/dig SRV +noall +short +answer _etcd-server{% if cluster_node_tuple.1.etcdConfig.ssl %}-ssl{% endif %}._tcp.{{ cluster_node_tuple.1.name }}.{{ cluster_node_tuple.0.name }}.internal | /usr/bin/wc -l) -ne  {{ cluster_node_tuple.1.count }} ]] ; do sleep 1 ; done'
    Restart=on-failure
    RestartSec=5s
