[Unit]
Description=Forward journald to logentries.com
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill j2logentries
ExecStartPre=-/usr/bin/docker rm j2logentries
ExecStartPre=/usr/bin/docker pull quay.io/samsung_ag/journal-2-logentries
ExecStart=/usr/bin/bash -c \
"/usr/bin/docker run --name j2logentries \
-v /run/journald.sock:/run/journald.sock \
-e LOGENTRIES_TOKEN=`etcdctl get /logentries.com/token` \
-e LOGENTRIES_URL=`etcdctl get /logentries.com/url` \
quay.io/samsung_ag/journal-2-logentries"