- name: kraken-etcd.service
  command: start
  content: |
    [Unit]
    Description=etcd
{% if cluster_node_tuple.1.etcdConfig.ssl == true %}
    After=kraken-ssl.service
    Requires=kraken-ssl.service
{% endif %}
{% for mount in cluster_node_tuple.1.nodeConfig.mounts %}
    After={{mount.path | replace('/', '-') | replace('-', '', 1)}}.mount
    Requires={{mount.path | replace('/', '-') | replace('-', '', 1)}}.mount
{% endfor %}
    After=kraken-networking.service
    Requires=kraken-networking.service
    [Service]
    EnvironmentFile=/etc/network-environment
    TimeoutStartSec=0
    RestartSec=15
    Restart=always
    KillMode=none
    ExecStartPre=/usr/bin/mkdir -p /ephemeral/etcd
    ExecStart=/usr/bin/rkt run --net=host \
     --stage1-path=/usr/lib/rkt/stage1-images/stage1-fly.aci \
     --insecure-options=image \
     --inherit-env=true \
{% if cluster_node_tuple.1.etcdConfig.ssl == true %}
     --volume ssl,kind=host,source=/etc/etcd/ssl,readOnly=true \
{% endif %}
     --volume data,kind=host,source=/ephemeral/etcd,readOnly=false \
     --volume resolv-conf,kind=host,source=/etc/resolv.conf \
     --mount volume=ssl,target=/etc/etcd/ssl \
     --mount volume=data,target=/ephemeral \
     --mount volume=resolv-conf,target=/etc/resolv.conf \
     quay.io/coreos/etcd:{{cluster_node_tuple.1.etcdConfig.version}} \
     -- --data-dir /ephemeral/etcd \
     --name etcd{{cluster_node_tuple.1.name}} \
{% if cluster_node_tuple.1.etcdConfig.ssl == true %}
     --peer-client-cert-auth \
     --peer-trusted-ca-file=/etc/etcd/ssl/peer-ca.pem \
     --peer-cert-file=/etc/etcd/ssl/peer.pem \
     --peer-key-file=/etc/etcd/ssl/peer-key.pem \
     --trusted-ca-file=/etc/etcd/ssl/server-ca.pem \
     --cert-file=/etc/etcd/ssl/server.pem \
     --key-file=/etc/etcd/ssl/server-key.pem \
     --client-cert-auth \
{% endif %}
     --discovery-srv {{cluster_node_tuple.1.name}}.{{cluster_node_tuple.0.name}}.internal \
     --initial-advertise-peer-urls {% if cluster_node_tuple.1.etcdConfig.ssl == true %}https{% else %}http{% endif %}://${DEFAULT_IPV4}:{{cluster_node_tuple.1.etcdConfig.peerPorts[0]}} \
{% if cluster_node_tuple.1.etcdConfig.uuidToken is defined and cluster_node_tuple.1.etcdConfig.uuidToken %}
     --initial-cluster-token {{ clusterUuidToken }} \
{% elif cluster_node_tuple.1.etcdConfig.clusterToken is defined %}
     --initial-cluster-token {{ cluster_node_tuple.1.etcdConfig.clusterToken }} \
{% endif %}
     --initial-cluster-state new \
     --advertise-client-urls {% for port in cluster_node_tuple.1.etcdConfig.clientPorts %}{% if loop.index > 1 %},{% endif %}{% if cluster_node_tuple.1.etcdConfig.ssl == true %}https{% else %}http{% endif %}://${DEFAULT_IPV4}:{{port}}{% endfor %} \
     --listen-client-urls {% for port in cluster_node_tuple.1.etcdConfig.clientPorts %}{% if loop.index > 1 %},{% endif %}{% if cluster_node_tuple.1.etcdConfig.ssl == true %}https{% else %}http{% endif %}://127.0.0.1:{{port}},{% if cluster_node_tuple.1.etcdConfig.ssl == true %}https{% else %}http{% endif %}://${DEFAULT_IPV4}:{{port}}{% endfor %} \
     --listen-peer-urls {% for port in cluster_node_tuple.1.etcdConfig.peerPorts %}{% if loop.index > 1 %},{% endif %}{% if cluster_node_tuple.1.etcdConfig.ssl == true %}https{% else %}http{% endif %}://${DEFAULT_IPV4}:{{port}}{% endfor %} \
     ---
    ExecStopPost=/usr/bin/rkt gc --mark-only
