- path: /etc/ssl/ca.pem
  content: |
    {{ lookup('file', '{{config_base}}/{{cluster.name}}/certs/ca.pem') | indent(4) }}
- path: /etc/ssl/ca-key.pem
  content: |
    {{ lookup('file', '{{config_base}}/{{cluster.name}}/certs/ca-key.pem') | indent(4) }}