---
- set_fact:
    cluster: "{{ a_cluster }}"

- name: Look up and set k8s minor version for this cluster
  set_fact:
    kubernetes_minor_version: "{{ kubernetes_minor_versions[cluster.name] }}"

- name: Execute appropriate kubectl per minor version
  set_fact:
    kubectl: "/opt/cnct/kubernetes/{{ kubernetes_minor_version }}/bin/kubectl"

- set_fact:
    kubeconfig: "{{ config_base | expanduser }}/{{ cluster.name }}/admin.kubeconfig"

- name: Merge User DNS Config with Default DNS Config
  set_fact:
    dns_config: "{{ kubedns | combine(cluster.dnsConfig.kubedns) | expand_config }}"

- debug:
    var: dns_config.namespace

- name: Clean up DNS
  command: >
    {{ kubectl }} --kubeconfig={{ kubeconfig }} delete -f {{ config_base | expanduser }}/{{ cluster.name }}/services/dns-deployment.yaml --namespace={{ dns_config.namespace }}
  when: kraken_action == 'down'
  ignore_errors: yes
