---
# kubedns Roles
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: system:kube-dns
  namespace: kube-system
rules:
  - apiGroups: [""]
    resources:
    - endpoints
    - services
    - serviceaccounts
    verbs:
      - get
      - list
      - watch
