- path: /etc/kubernetes/kubeconfig.yaml
  content: |
    apiVersion: v1
    kind: Config
    clusters:
    - name: {{ cluster.name }}
      cluster:
        certificate-authority: /etc/kubernetes/ssl/ca.pem
        server: https://apiserver.{{ cluster.name }}.internal
    users:
    - name: kubelet
      user:
        client-certificate: /etc/kubernetes/ssl/worker.pem
        client-key: /etc/kubernetes/ssl/worker-key.pem
    contexts:
    - context:
        cluster: {{ cluster.name }}
        user: kubelet
      name: kubelet-context
    current-context: kubelet-context
