---
- name: Query all deployments
  shell: gcloud deployment-manager deployments list --project {{ cluster.providerConfig.project }} --filter='name:{{ cluster.name }}-k2-deployment' --format='value(name)'
  register: deployment_check
  ignore_errors: yes

- include: create-cluster.yaml
  when: deployment_check.stdout !=  cluster.name + "-k2-deployment"
