[Unit]
Description=etcd

[Service]
EnvironmentFile=/etc/environment
User=etcd
PermissionsStartOnly=true
ExecStart=/usr/bin/etcd \
--name ${COREOS_PRIVATE_IPV4} \
--addr ${COREOS_PRIVATE_IPV4}:4001 \
--bind-addr 0.0.0.0 \
--cluster-active-size 1 \
--data-dir /var/lib/etcd \
--http-read-timeout 86400 \
--peer-addr ${COREOS_PRIVATE_IPV4}:7001 \
--snapshot true
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
