flannel:
  etcd_endpoints: {% if kraken_config.master.infra.etcd.ssl == true %}https{% else %}http{% endif %}://{{kraken_config.master.infra.etcd.name}}.{{kraken_config.cluster}}.internal:{{kraken_config.master.infra.etcd.clientPorts[0]}}
{% if item.nodepool.kubeConfig.clusterEtcd.etcd.ssl == true %}
  etcd_cafile: /opt/kraken/etcd/ssl/client-ca.pem
  etcd_certfile: /opt/kraken/etcd/ssl/client.pem
  etcd_keyfile: /opt/kraken/etcd/ssl/client-key.pem
{% endif %}
