To use kubectl:
---------------

{% for cluster in kraken_config.clusters %}
    kubectl --kubeconfig={{ config_base }}/{{ cluster.name }}/admin.kubeconfig <kubectl command>
{% endfor %}

To use helm:
------------

{% for cluster in kraken_config.clusters %}
    KUBECONFIG={{ config_base }}/{{ cluster.name }}/admin.kubeconfig HELM_HOME={{ config_base }}/{{ cluster.name }}/.helm helm <helm command>
{% endfor %}

To ssh:

{% for cluster in kraken_config.clusters %}
{%   for node in cluster.nodePools       %}
{%     for number in range(0,node.count) %}
    ssh -F {{ config_base }}/{{ cluster.name }}/ssh_config {{ node.name }}-{{ number +1}}
{%     endfor                            %}
{%   endfor                              %}
{% endfor                                %}
