apiVersion: v1
kind: Pod
metadata:
  name: kube-proxy
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-proxy
    image: gcr.io/google_containers/hyperkube:{{kraken_config.master.nodepool.kubeConfig.version}}
    command:
    - /hyperkube
    - proxy
    - --master=127.0.0.1:8080
    - --proxy-mode=iptables
    - --logtostderr=true
    securityContext:
      privileged: true
    volumeMounts:
    - mountPath: /etc/ssl
      name: ssl-certs-host
      readOnly: true
  volumes:
  - hostPath:
      path: /opt/kraken
    name: ssl-certs-host