apiVersion: v1
kind: Config
clusters:
  - cluster:
      certificate-authority: /opt/kraken/ca.pem
      server: https://master.{{kraken_config.cluster}}.internal
    name: kubernetes
contexts:
  - context:
      cluster: {{kraken_config.cluster}}
      user: kubelet
    name: {{kraken_config.cluster}}-kubelet
current-context: {{kraken_config.cluster}}-kubelet
users:
  - name: kubelet
    user:
      client-certificate: /opt/kraken/kubernetes/ssl/worker.pem
      client-key: /opt/kraken/kubernetes/ssl/worker-key.pem
