apiVersion: v1
kind: Config
clusters:
- name: {{kraken_config.cluster}}
  cluster:
    certificate-authority: /etc/kubernetes/ssl/ca.pem
users:
- name: kubelet
  user:
    client-certificate: /etc/kubernetes/ssl/apiserver.pem
    client-key: /etc/kubernetes/ssl/apiserver-key.pem
contexts:
  - context:
      cluster: {{kraken_config.cluster}}
      user: kubelet
    name: {{kraken_config.cluster}}-kubelet
current-context: {{kraken_config.cluster}}-kubelet
