---
apiVersion: v1
kind: Secret
metadata:
  name: service-account-key-file
type: Opaque
data:
  service-account.pem: {{ lookup('file', '{{config_base}}/{{kraken_config.cluster}}/certs/service-account-pub.pem' | expanduser) | b64encode }}
