---
apiVersion: v1
kind: Secret
metadata:
  name: service-account-key-file
type: Opaque
data:
  service-account.pem: {{ lookup('file', '{{playbook_dir}}/../generated/{{kraken_config.cluster}}/certs/service-account.pem') | b64encode }}
  service-account-pub.pem: {{ lookup('file', '{{playbook_dir}}/../generated/{{kraken_config.cluster}}/certs/service-account-pub.pem') | b64encode }}