- name: kubelet.service
  command: start
  content: |
    [Unit]
    After=docker.service
    After=kraken-ssl.service
    Requires=docker.service
    Requires=kraken-ssl.service
    [Service]
    EnvironmentFile=/etc/network-environment
    ExecStartPre=/usr/bin/wget -N -P /opt/bin https://storage.googleapis.com/kubernetes-release/release/v1.3.5/bin/linux/amd64/kubelet
    ExecStartPre=/usr/bin/chmod +x /opt/bin/kubelet
    ExecStart=/opt/bin/kubelet \
      --api_servers=http://127.0.0.1:8080 \
      --register-schedulable=false \
      --allow-privileged=true \
      --config=/etc/kubernetes/manifests \
      --kubeconfig=/etc/kubernetes/kubeconfig.yaml \
      --hostname-override=${DEFAULT_IPV4} \
      --cluster-dns={{kraken_config.serviceDNS}} \
      --cluster-domain={{kraken_config.cluster}}.local \
      --tls-cert-file=/etc/kubernetes/ssl/apiserver.pem \
      --tls-private-key-file=/etc/kubernetes/ssl/apiserver-key.pem \
      --network-plugin=cni \
      --network-plugin-dir=/etc/cni/net.d \
      --cloud-provider={{kraken_kubernetes_cloudprovider}} \
      --logtostderr=true
    Restart=always
    RestartSec=10
    [Install]
    WantedBy=multi-user.target
