- path: /etc/kubernetes/kubeconfig.yaml
  encoding: "gz+b64"
  content: |
    {{ lookup('file', '{{playbook_dir}}/../generated/{{kraken_config.cluster}}/master.kubeconfig.manifest') | gz | b64encode }}