- path:  /etc/kubernetes/ssl/service-account-key.pem
  encoding: "gz+b64"
  content: |
    {{ lookup('file', '{{config_base}}/{{ cluster.name }}/certs/service-account.pem' | expanduser) | gz | b64encode }}
