[Unit]
Description=Launch dockerized kubernetes hyperkube proxy
{% if proxy_type == "node" %}
Requires=k8s-docker-node.service
After=k8s-docker-node.service
{% else %}
Requires=k8s-docker-controller-manager.service
After=k8s-docker-controller-manager.service
{% endif %}

[Service]
StandardOutput={{ kubernetes_systemd_stdout }}
StandardError={{ kubernetes_systemd_stderr }}
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/mkdir -p {{proxy_settings.log_dir}}
ExecStartPre=-/usr/bin/docker kill k8s-proxy
ExecStartPre=-/usr/bin/docker rm k8s-proxy
ExecStart=/usr/bin/docker run \
  --name k8s-proxy \
  --net=host \
  --privileged \
  -v {{ kubernetes_cert_dir }}:{{ kubernetes_cert_dir }} \
  -v {{proxy_settings.log_dir}}:{{proxy_settings.log_dir}} \
  {{hyperkube_image}} \
    /hyperkube proxy \
    {% for k,v in proxy_settings.iteritems() %}
      --{{k}}={{v}} \
    {% endfor %}
  {% if proxy_type == "master" %}
  --master={{access_scheme}}://127.0.0.1:{{access_port}} \
  --kubeconfig={{ proxy_settings.kubeconfig | expanduser }}
  {% endif %}
