[Unit]
Description=Launch kubernetes hyperkube proxy
Requires=network-online.target
After=network-online.target

[Service]
StandardOutput={{ kubernetes_systemd_stdout }}
StandardError={{ kubernetes_systemd_stderr }}
Restart=always
RestartSec=5
LimitNOFILE=infinity
ExecStartPre=-/usr/bin/mkdir -p {{proxy_settings.log_dir}}
ExecStart=/opt/bin/hyperkube proxy \
  {% for k,v in proxy_settings.iteritems() %}
    --{{k}}={{v}} \
  {% endfor %}
