apiVersion: v1
kind: Config
clusters:
  - cluster:
      certificate-authority: /etc/ssl/ca.pem
      server: https://master.{{kraken_config.cluster}}.internal
    name: {{kraken_config.cluster}}
contexts:
  - context:
      cluster: {{kraken_config.cluster}}
      user: kubelet
    name: {{kraken_config.cluster}}-kubelet
current-context: {{kraken_config.cluster}}-kubelet
users:
  - name: kubelet
    user:
      client-certificate: /etc/kubernetes/ssl/worker.pem
      client-key: /etc/kubernetes/ssl/worker-key.pem
