apiVersion: v1
kind: Pod
metadata:
  name: kube-proxy
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-proxy
    image: gcr.io/google_containers/hyperkube:{{item.nodepool.kubeConfig.version}}
    command:
    - /hyperkube
    - proxy
    - --master=https://master.{{kraken_config.cluster}}.internal
    - --kubeconfig=/etc/kubernetes/kubeconfig
    - --proxy-mode=iptables
    securityContext:
      privileged: true
    volumeMounts:
      - mountPath: /etc/ssl
        name: "ssl-certs"
      - mountPath: /etc/kubernetes/kubeconfig
        name: "kubeconfig"
        readOnly: true
      - mountPath: /etc/kubernetes/ssl
        name: "etc-kube-ssl"
        readOnly: true
  volumes:
    - name: "ssl-certs"
      hostPath:
        path: "/opt/kraken"
    - name: "kubeconfig"
      hostPath:
        path: "/opt/kraken/kubeconfig"
    - name: "etc-kube-ssl"
      hostPath:
        path: "/opt/kraken/kubernetes/ssl"