- name: kubelet.service
  command: start
  content: |
    [Unit]
    After=docker.service
    After=kraken-ssl.service
    Requires=docker.service
    Requires=kraken-ssl.service
    [Service]
    EnvironmentFile=/etc/network-environment
    ExecStartPre=/usr/bin/wget -N -P /opt/bin https://storage.googleapis.com/kubernetes-release/release/{{item.nodepool.kubeConfig.version}}/bin/linux/amd64/kubelet
    ExecStartPre=/usr/bin/chmod +x /opt/bin/kubelet
    ExecStart=/opt/bin/kubelet \
      --api_servers=https://apiserver.{{kraken_config.cluster}}.internal \
      --register-node=true \
      --allow-privileged=true \
      --config=/etc/kubernetes/manifests \
      --kubeconfig=/etc/kubernetes/kubeconfig.yaml \
      --hostname-override=${DEFAULT_IPV4} \
      --cluster-dns={{kraken_config.serviceDNS}} \
      --cluster-domain={{kraken_config.cluster}}.local \
      --tls-cert-file=/etc/kubernetes/ssl/worker.pem \
      --tls-private-key-file=/etc/kubernetes/ssl/worker-key.pem \
      --network-plugin=cni \
      --network-plugin-dir=/etc/cni/net.d \
      --cloud-provider={{kraken_kubernetes_cloudprovider}} \
      --v=7 \
      --logtostderr=true
    Restart=always
    RestartSec=10
    [Install]
    WantedBy=multi-user.target