- name: kubelet.service
  command: start
  content: |
    [Unit]
    After=docker.service
    After=kraken-ssl.service
    Requires=docker.service
    Requires=kraken-ssl.service
    [Service]
    EnvironmentFile=/etc/network-environment
    ExecStartPre=/usr/bin/mkdir -p /var/lib/kubelet
    ExecStart=/usr/bin/rkt run \
      --volume etc-resolv-conf,kind=host,source=/etc/resolv.conf \
      --volume etc-cni,kind=host,source=/etc/cni \
      --volume etc-kubernetes,kind=host,source=/etc/kubernetes \
      --volume etc-ssl-certs,kind=host,source=/usr/share/ca-certificates \
      --volume var-lib-docker,kind=host,source=/var/lib/docker \
      --volume var-lib-kubelet,kind=host,source=/var/lib/kubelet \
      --volume os-release,kind=host,source=/usr/lib/os-release \
      --volume run,kind=host,source=/run \
      --volume opt-cni,kind=host,source=/opt/cni \
      --mount volume=etc-resolv-conf,target=/etc/resolv.conf \
      --mount volume=etc-cni,target=/etc/cni \
      --mount volume=etc-kubernetes,target=/etc/kubernetes \
      --mount volume=etc-ssl-certs,target=/etc/ssl/certs \
      --mount volume=var-lib-docker,target=/var/lib/docker \
      --mount volume=var-lib-kubelet,target=/var/lib/kubelet \
      --mount volume=os-release,target=/etc/os-release \
      --mount volume=run,target=/run \
      --mount volume=opt-cni,target=/opt/cni \
      --insecure-options=image \
      --stage1-from-dir=stage1-fly.aci \
      docker://gcr.io/google_containers/hyperkube:{{item.nodepool.kubeConfig.version}} \
      --exec=/hyperkube -- kubelet \
      --api_servers=https://apiserver.{{kraken_config.cluster}}.internal \
      --register-node=true \
      --allow-privileged=true \
      --config=/etc/kubernetes/manifests \
      --kubeconfig=/etc/kubernetes/kubeconfig.yaml \
      --hostname-override=${DEFAULT_IPV4} \
      --cluster-dns={{kraken_config.serviceDNS}} \
      --cluster-domain={{kraken_config.cluster}}.local \
      --tls-cert-file=/etc/kubernetes/ssl/worker.pem \
      --tls-private-key-file=/etc/kubernetes/ssl/worker-key.pem \
      --network-plugin=cni \
      --network-plugin-dir=/etc/cni/net.d \
      --cloud-provider={{kraken_kubernetes_cloudprovider}} \
      --v=7 \
      --logtostderr=true
    Restart=always
    RestartSec=10
    [Install]
    WantedBy=multi-user.target