- path: /opt/kraken/kubeconfig
  encoding: "gz+b64"
  content: |
    {{ lookup('file', '{{playbook_dir}}/../generated/{{kraken_config.cluster}}/node.{{item.name}}.kubeconfig.manifest') | gz | b64encode }}