- path: /etc/kubernetes/kubeconfig.yaml
  encoding: "gz+b64"
  content: |
    {{ lookup('file', '{{config_base}}/{{kraken_config.cluster}}/node.{{item.name}}.kubeconfig.manifest' | expanduser) | gz | b64encode }}