resources:
  - name: {{ kraken_config.cluster }}
    type: container.v1.cluster
    properties:
      zone: {{ kraken_config.providerConfig.zone.primaryZone }}
      cluster:
        name: {{ kraken_config.cluster }}
        description: {{ kraken_config.cluster }} managed by k2
        masterAuth:
          username: {{ kraken_config.auth.user }}
          password: {{ kraken_config.auth.password }}
{% if kraken_config.providerConfig.disableCloudLogging is defined and kraken_config.providerConfig.disableCloudLogging == True %}
        loggingService: none
{% else %}
        loggingService: logging.googleapis.com
{% endif %}
{% if kraken_config.providerConfig.disableCloudMonitoring is defined and kraken_config.providerConfig.disableCloudMonitoring == True %}
        monitoringService: none
{% else %}
        monitoringService: monitoring.googleapis.com
{% endif %}
        network: {{ kraken_config.providerConfig.network | default('default') }}
        clusterIpv4Cidr: {{ kraken_config.providerConfig.clusterIpv4Cidr | default('10.0.0.0/14') }}
        addonsConfig:
          httpLoadBalancing:
{% if kraken_config.providerConfig.disableHTTPLoadbalancer is defined and kraken_config.providerConfig.disableHTTPLoadbalancer == True %}
            disabled: true
{% else %}
            disabled: false
{% endif %}
          horizontalPodAutoscaling:
{% if kraken_config.providerConfig.disableHorizontalAutoscaler is defined and kraken_config.providerConfig.disableHorizontalAutoscaler == True %}
            disabled: true
{% else %}
            disabled: false
{% endif %}
        nodePools:
{% for nodepool in kraken_config.nodepool %}
          -
            name: {{ nodepool.name }} 
            initialNodeCount: {{ nodepool.count }}
            config:
              machineType: {{ nodepool.providerConfig.machineType }}
              diskSizeGb: {{ nodepool.providerConfig.diskSize }}
{% if nodepool.providerConfig.localSsdCount is defined %}
              localSsdCount: {{ nodepool.providerConfig.localSsdCount }}
{% endif %}
{% if nodepool.providerConfig.scopes is defined %}
              oauthScopes:
{% for scope in nodepool.providerConfig.scopes %}
                - {{ scope }}     
{% endfor %}
{% endif %}
              serviceAccount: {{ nodepool.providerConfig.serviceAccount | default('default') }}
{% if nodepool.providerConfig.imageType is defined %}
              imageType: {{ nodepool.providerConfig.imageType }}
{% endif %}
              labels: 
{% for label in nodepool.providerConfig.label %}
                {{ label.name }}: {{ label.value }}
{% endfor %}
{% if nodepool.providerConfig.metadata is defined %}
              metadata:
{% for metadata in nodepool.providerConfig.metadata %}
                {{ metadata.name }}: {{ metadata.value }}
{% endfor %}
{% endif %}
{% if nodepool.providerConfig.tags is defined %}
              tags:
{% for tag in nodepool.providerConfig.tags %}
                - {{ tag }}
{% endfor %}
{% endif %}
{% if nodepool.providerConfig.autoscaling is defined %}
            autoscaling:
              enabled: true
              minNodeCount: {{ nodepool.providerConfig.autoscaling.minNodeCount }}
              maxNodeCount: {{ nodepool.providerConfig.autoscaling.maxNodeCount }}
{% else %}
            autoscaling:
              enabled: false
{% endif %}
{% endfor %}
{% if kraken_config.providerConfig.zone.additionalZones is defined %}
        locations:
          - {{ kraken_config.providerConfig.zone.primaryZone }}
{% for location in kraken_config.providerConfig.zone.additionalZones %}
          - {{ location }}
{% endfor %}
{% endif %}