resources:
- name: {{ cluster.name }}
  type: container.v1.cluster
  properties:
    zone: {{ cluster.providerConfig.zone.primaryZone }}
    cluster:
      name: {{ cluster.name }}
      description: {{ cluster.name }} managed by k2
      masterAuth:
        username: {{ default_kube_basic_auth.user }}
        password: {{ default_kube_basic_auth.password }}
{% if cluster.providerConfig.disableCloudLogging is defined and cluster.providerConfig.disableCloudLogging == True %}
      loggingService: none
{% else %}
      loggingService: logging.googleapis.com
{% endif %}
{% if cluster.providerConfig.disableCloudMonitoring is defined and cluster.providerConfig.disableCloudMonitoring == True %}
      monitoringService: none
{% else %}
      monitoringService: monitoring.googleapis.com
{% endif %}
{% if cluster.providerConfig.enableKubernetesAlpha is defined and cluster.providerConfig.enableKubernetesAlpha == True %}
      enableKubernetesAlpha: True
{% else %}
      enableKubernetesAlpha: False
{% endif %}
{% if cluster.providerConfig.network is defined %}
      network: {{ cluster.providerConfig.network }}
{% endif %}
{% if cluster.providerConfig.clusterIpv4Cidr is defined  %}
      clusterIpv4Cidr: {{ cluster.providerConfig.clusterIpv4Cidr }}
{% endif %}
      addonsConfig:
        httpLoadBalancing:
{% if cluster.providerConfig.disableHTTPLoadbalancer is defined and cluster.providerConfig.disableHTTPLoadbalancer == True %}
          disabled: true
{% else %}
          disabled: false
{% endif %}
        horizontalPodAutoscaling:
{% if cluster.providerConfig.disableHorizontalAutoscaler is defined and cluster.providerConfig.disableHorizontalAutoscaler == True %}
          disabled: true
{% else %}
          disabled: false
{% endif %}
      nodePools:
{% for nodepool in cluster.nodePools %}
        -
          name: {{ nodepool.name }} 
          initialNodeCount: {{ nodepool.count }}
          config:
            machineType: {{ nodepool.nodeConfig.providerConfig.machineType }}
            diskSizeGb: {{ nodepool.nodeConfig.providerConfig.diskSize }}
{% if nodepool.nodeConfig.providerConfig.localSsdCount is defined %}
            localSsdCount: {{ nodepool.nodeConfig.providerConfig.localSsdCount }}
{% endif %}
{% if nodepool.nodeConfig.providerConfig.scopes is defined %}
            oauthScopes:
{% for scope in nodepool.nodeConfig.providerConfig.scopes %}
              - {{ scope }}     
{% endfor %}
{% endif %}
{% if nodepool.nodeConfig.providerConfig.serviceAccount is defined  %}
            serviceAccount: {{ nodepool.nodeConfig.providerConfig.serviceAccount }}
{% endif %}
{% if nodepool.nodeConfig.providerConfig.imageType is defined %}
            imageType: {{ nodepool.nodeConfig.providerConfig.imageType }}
{% endif %}
            labels: 
              k2nodepool: {{ nodepool.name }}
{% if nodepool.nodeConfig.providerConfig.label is defined %}
{% for label in nodepool.nodeConfig.providerConfig.label %}
              {{ label.name }}: {{ label.value }}
{% endfor %}
{% endif %}
            metadata:
              k2nodepool: {{ nodepool.name }}
{% if nodepool.nodeConfig.providerConfig.metadata is defined %}
{% for metadata in nodepool.nodeConfig.providerConfig.metadata %}
              {{ metadata.name }}: {{ metadata.value }}
{% endfor %}
{% endif %}
{% if nodepool.nodeConfig.providerConfig.tags is defined %}
            tags:
{% for tag in nodepool.nodeConfig.providerConfig.tags %}
              - {{ tag }}
{% endfor %}
{% endif %}
{% if nodepool.nodeConfig.providerConfig.autoscaling is defined %}
          autoscaling:
            enabled: true
            minNodeCount: {{ nodepool.nodeConfig.providerConfig.autoscaling.minNodeCount }}
            maxNodeCount: {{ nodepool.nodeConfig.providerConfig.autoscaling.maxNodeCount }}
{% else %}
          autoscaling:
            enabled: false
{% endif %}
{% endfor %}
{% if cluster.providerConfig.zone.additionalZones is defined %}
      locations:
        - {{ cluster.providerConfig.zone.primaryZone }}
{% for location in cluster.providerConfig.zone.additionalZones %}
        - {{ location }}
{% endfor %}
{% endif %}
