resources:
- name: {{ kraken_config.cluster }}
  type: container.v1.cluster
  properties:
    projectId: {{ kraken_config.providerConfig.project }}
    zone: {{ kraken_config.providerConfig.zone.primaryZone }}
    clusterId: {{ kraken_config.cluster }}
    update:
      desiredNodeVersion:
      desiredMonitoringService:
      desiredAddonsConfig:
        httpLoadBalancing:
          disabled:
        horizontalPodAutoscaling:
          disabled:
      desiredNodePoolId:
      desiredImageType:
      desiredNodePoolAutoscaling:
        enabled:
        minNodeCount:
        maxNodeCount:
      desiredLocations:
      desiredMasterVersion: "-"