{% if bastionKind is defined and bastionKind == 'bastion-elb' %}

{% for result in ec2_results.results %}
{% set validHostCounter = 1 %}
{% for instance in result.instances %}
{% if instance.state == 'running' or instance.state == 'pending' %}
{% set privateKeyPath = cluster.nodePools | selectattr("name", "equalto", instance.tags['k2-nodepool']) | list %}
{% if instance.tags['k2-nodepool'] != 'bastion' and elb_facts is defined and elb_facts.elbs | length >0 %}
Host {{instance.tags['k2-nodepool']}}-{{validHostCounter}}
  User core
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  ProxyCommand ssh core@{{elb_facts.elbs[0].dns_name}} -p {{bastionListenPort}} -W {{instance.private_ip_address}}:22
{% set validHostCounter = validHostCounter + 1 %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

{% else %}

{% for result in ec2_results.results %}
{% set validHostCounter = 1 %}
{% for instance in result.instances %}
{% if instance.state == 'running' or instance.state == 'pending' %}
{% set privateKeyPath = cluster.nodePools | selectattr("name", "equalto", instance.tags['k2-nodepool']) | list %}
{% if privateKeyPath[0].keyPair.privatekeyFile is defined %}
{% if instance.public_dns_name is defined and instance.public_dns_name != "" %}
Host {{instance.tags['k2-nodepool']}}-{{validHostCounter}}
  HostName {{instance.public_dns_name}}
  User core
{% if instance.tags['k2-nodepool'] == 'bastion' %}
  Port {{bastionListenPort}}
{% else %}
  Port 22
{% endif %}
  IdentityFile {{privateKeyPath[0].keyPair.privatekeyFile}}
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
{% endif %}
{% set validHostCounter = validHostCounter + 1 %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

{% endif %}