{% if bastionKind is defined and bastionKind == 'bastion-elb' %}

{% for result in ec2_results.results %}
{% set validHostCounter = 1 %}
{% for instance in result.instances %}
{% if instance.state == 'running' or instance.state == 'pending' %}
{% set privateKeyPath = cluster.nodePools | selectattr("name", "equalto", instance.tags['k2-nodepool']) | list %}
{% if instance.tags['k2-nodepool'] != 'bastion' and elb_facts is defined and elb_facts.elbs | length >0 %}
Host {{instance.tags['k2-nodepool']}}-{{validHostCounter}}
  User core
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
  IdentityFile {{privateKeyPath[0].keyPair.privatekeyFile}}
  ProxyCommand ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null core@{{elb_facts.elbs[0].dns_name}} -p {{bastionListenPort}} -W {{instance.private_ip_address}}:22
{% set validHostCounter = validHostCounter + 1 %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

{% else %}

{% for result in ec2_results.results %}
{% set validHostCounter = 0 %}
{% for instance in result.instances %}
{% if instance.state == 'running' or instance.state == 'pending' %}
{% set privateKeyPath = cluster.nodePools | selectattr("name", "equalto", instance.tags['k2-nodepool']) | list %}
{% if privateKeyPath[0].keyPair.privatekeyFile is defined %}
{% set publicAddress = instance.public_dns_name or instance.public_ip_address %}
{% if publicAddress %}
{% set validHostCounter = validHostCounter + 1 %}
{% set hostAlias = "%s-%d"|format(instance.tags['k2-nodepool'], validHostCounter) %}
{% if not instance.tags['Name'].endswith("autoscaled") %}
{% set hostAlias =  instance.tags['Name']|replace("_", "-")|replace(instance.tags['KubernetesCluster'] + '-', '')  %}
{% endif %}

# Name: {{instance.tags['Name']}} ({{ instance.tags['k2-nodepool'] }})
# Private: {{instance.private_dns_name}} {{instance.private_ip_address}}
# Public: {{instance.public_dns_name}} {{instance.public_ip_address}}
Host {{hostAlias}}
  HostName {{publicAddress}}
  User core
{% if instance.tags['k2-nodepool'] == 'bastion' %}
  Port {{bastionListenPort}}
{% else %}
  Port 22
{% endif %}
  IdentityFile {{privateKeyPath[0].keyPair.privatekeyFile}}
  StrictHostKeyChecking no
  UserKnownHostsFile=/dev/null
{% endif %}
{% endif %}
{% endif %}
{% endfor %}
{% endfor %}

{% endif %}