[Unit]
Description=Launch kubernetes hyperkube kubelet
Requires=network-online.target
After=network-online.target

[Service]
StandardOutput={{ kubernetes_systemd_stdout }}
StandardError={{ kubernetes_systemd_stderr }}
Restart=always
RestartSec=5
EnvironmentFile=/etc/network-environment
ExecStartPre=-/usr/bin/mkdir -p {{kubelet_settings.log_dir}}
ExecStart=/opt/bin/hyperkube kubelet \
  {% for k,v in kubelet_settings.iteritems() %}
    --{{k}}={{v}} \
  {% endfor %}
  --hostname_override={{ansible_local.kubernetes_node_ip_fact.node_ip_address}}