[Unit]
Description=Launch dockerized kubernetes hyperkube kubelet
EnvironmentFile=/etc/network-environment
Requires=network-online.target
After=network-online.target

[Service]
StandardOutput={{ kubernetes_systemd_stdout }}
StandardError={{ kubernetes_systemd_stderr }}
Restart=always
RestartSec=5
ExecStartPre=-/usr/bin/mkdir -p {{kubelet_settings.log_dir}}
ExecStartPre=-/usr/bin/docker kill k8s-kubelet
ExecStartPre=-/usr/bin/docker rm k8s-kubelet
ExecStart=/usr/bin/docker run \
  --name k8s-kubelet \
  --net=host \
  --privileged \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v {{ kubernetes_cert_dir }}:{{ kubernetes_cert_dir }} \
  -v {{kubelet_settings.log_dir}}:{{kubelet_settings.log_dir}}
  {{hyperkube_image}} \
    /hyperkube kubelet \
    {% for k,v in kubelet_settings.iteritems() %}
      --{{k}}={{v}} \
    {% endfor %}
    --hostname_override={{ansible_local.kubernetes_node_ip_fact.node_ip_address}}
