[Unit]
Description=Launch kubernetes hyperkube controller-manager
Requires=network-online.target
After=network-online.target

[Service]
StandardOutput={{ kubernetes_systemd_stdout }}
StandardError={{ kubernetes_systemd_stderr }}
Restart=always
RestartSec=5
LimitNOFILE=infinity
ExecStartPre=-/usr/bin/mkdir -p {{controller_manager_settings.log_dir}}
ExecStart=/opt/bin/hyperkube controller-manager \
  {% for k,v in controller_manager_settings.iteritems() %}
    --{{k}}={{v}} \
  {% endfor %}
