- name: containerd.service
  drop-ins:
    - name: exec-containerd.conf
      content: |
        [Service]
        ExecStart=
        ExecStart=/opt/cnct/bin/docker-containerd \
          --listen unix:///var/run/docker/libcontainerd/docker-containerd.sock \
          --shim /opt/cnct/bin/docker-containerd-shim \
          --state-dir /var/run/docker/libcontainerd/containerd \
          --runtime /opt/cnct/bin/docker-runc
