- name: docker.service
  drop-ins:
    - name: exec-docker.conf
      content: |
        [Service]
        ExecStart=
        ExecStart=/opt/cnct/bin/dockerd \
          --add-runtime docker-runc=/opt/cnct/bin/docker-runc \
          --default-runtime=docker-runc \
          --exec-opt native.cgroupdriver=systemd \
          $OPTIONS \
          $DOCKER_STORAGE_OPTIONS \
          $DOCKER_NETWORK_OPTIONS \
          $ADD_REGISTRY \
          $BLOCK_REGISTRY \
          $INSECURE_REGISTRY
