- name: docker.service
  drop-ins:
    - name: 10-wait-docker.conf
      content: |
        [Unit]
{% for mount in node.nodeConfig.mounts %}
        After={{mount.path | replace('/', '-') | replace('-', '', 1)}}.mount
        Requires={{mount.path | replace('/', '-') | replace('-', '', 1)}}.mount
{% endfor %}
