{% for mount in node.nodeConfig.mounts %}
- name: format-storage-{{mount.device | mapdevice}}.service
  command: start
  content: |
    [Unit]
    Description=Formats {{mount.device | mapdevice}} drive as ext4 {% if mount.forceFormat == false %}if not already formatted {% endif %}.
    After=dev-{{mount.device | mapdevice}}.device
    Requires=dev-{{mount.device | mapdevice}}.device
    [Service]
    Type=oneshot
    RemainAfterExit=yes
{% if mount.forceFormat == true %}
    ExecStartPre=/usr/sbin/wipefs -f /dev/{{mount.device | mapdevice}}
    ExecStart=/usr/sbin/mkfs.ext4 -F /dev/{{mount.device | mapdevice}}
{% else %}
    ExecStart=/bin/bash -c '(/usr/sbin/blkid -t TYPE=ext4 | /usr/bin/grep /dev/{{mount.device | mapdevice}}) || (/usr/sbin/wipefs -fa /dev/{{mount.device | mapdevice}} && /usr/sbin/mkfs.ext4 /dev/{{mount.device | mapdevice}})'
{% endif %}
{% endfor %}