{% for mount in node.nodeConfig.mounts %}
- name: {{mount.path | replace('/', '-') | replace('-', '', 1)}}.mount
  command: start
  content: |
    [Unit]
    Description=Mount {{mount.device | mapdevice}} to {{mount.path}}
    Requires=format-storage-{{mount.device | mapdevice}}.service
    After=format-storage-{{mount.device | mapdevice}}.service
    [Mount]
    What=/dev/{{mount.device | mapdevice}}
    Where={{mount.path}}
    Type=ext4
{% endfor %}