- name: setup-network-environment.service
  command: start
  content: |
    [Unit]
    Description=Setup Network Environment
    Requires=early-docker.service
    After=early-docker.service
    Before=early-docker.target

    [Service]
    ExecStart=/usr/bin/docker --net=host --rm=true -v /etc:/etc quay.io/samsung_cnct/setup-network-environment
    RemainAfterExit=yes
    Type=oneshot